a{
    cursor: pointer;
}

.GridContainer
{
    background-color: white;
}

.HeaderTable{
    background-color: #d6d8d6;
}
.Search{
        cursor : pointer;
        float:right;
        padding-top:5px;
        padding-left:4px;
        padding-right:4px;
        
}
.Filters{
    text-align:center;height:100px;width:98%;padding:18px;
}

.FilterArea{


    padding: 14px;margin-right:-10px;
}

.filterBtn{
margin-left: 30%;
    margin-top: 20px;
}